/*Подключение локальных шрифтов / Adding local fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/* Общие стили / General styles */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  border-style: none;
}

.title-lead {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.description-lead {
  text-align: center;
}

/* Стили основной шапки / Page header styles */

.navigation {
  display: flex;
  padding: 0 70px;
}

.logo {
  margin: 0;
  margin-right: 30px;
}

.logo-img {
  display: block;
  position: relative;
  margin-bottom: -6px;
  z-index: 2;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
  min-height: 64px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-item {
  flex-grow: 1;
}

.navigation-link {
  display: block;
  margin: 0 auto;
  padding: 20px 16px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-list {
  display: flex;
  max-width: 350px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  min-width: 17px;
  min-height: 17px;
  padding: 22px 13px;
  color: #ffffff;
  text-decoration: none;
}

.favorites-number {
  display: block;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 50%;
}

.want-here-item {
  padding: 14px 0;
}

.want-here-link {
  display: block;
  margin-left: 20px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
}

/* Стили основного содержимого / Main styles */

.main-container {
  flex-grow: 1;
}

/* Стили блока героя / Hero block styles */

.hero {
  margin-bottom: 69px;
  padding: 371px;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../images/decorative/zigzag.svg"), url("../images/hero/hero-canyon.jpg");
  background-position: bottom, center;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
}

/* Стили блока преймуществ / Advantages block styles */

.advantages {
  margin-bottom: 96px;
}

.advantages-title-container {
  margin: 0 auto;
  padding-bottom: 69px;
  margin-bottom: 21px;
  max-width: 651px;
}

.advantages-lead {
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-description {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-item-lead {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-list-item {
  display: flex;
  min-height: 385px;
}

.advantages-list-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-container {
  align-self: center;
  max-width: 230px;
  padding: 10px 85px;
}

.advantages-list-title {
  max-width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-item-lead .advantages-list-title::after {
  background-color: rgba(255, 255, 255, 0.30)
}

.advantages-list-description {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
}

.features-title-container {
  max-width: 505px;
  margin: 0 auto;
}

.features-lead {
  margin: 0;
  margin-bottom: 20px;
}

.features-description {
  margin: 0;
  margin-bottom: 64px;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.features-list-item {
  padding: 80px 85px;
}

.features-list-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-list-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.title-house-icon::before {
  content: "";
  display: block;
  min-width: 75px;
  min-height: 72px;
  margin-bottom: 30px;
  background-image: url("../images/advantages/house-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.title-food-icon::before {
  content: "";
  display: block;
  min-width: 75px;
  min-height: 72px;
  margin-bottom: 30px;
  background-image: url("../images/advantages/burger-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.title-present-icon::before {
  content: "";
  display: block;
  min-width: 75px;
  min-height: 76px;
  margin-bottom: 30px;
  background-image: url("../images/advantages/present-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.features-list-description {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
}

/* Стили блока поиска / Search block styles  */

.search-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
  padding: 0 304px;
  text-align: center;
}

.hostel-search-lead {
  margin: 0;
  margin-bottom: 20px;
}

.hostel-search-description {
  margin: 0;
  margin-bottom: 54px;
}

.hostel-search-link {
  display: block;
  min-width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border-style: none;
}

/* Стили блока подписки / Subscribe block styles */

.subscribe {
  padding: 96px 258px 104px;
}

.subscribe-title-container {
  max-width: 475px;
  margin: 0 auto;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
}

.subscribe.blurred {
  background-color: rgba(131, 179, 211, 0.5);
  background-image: url("../images/blurry/canyon-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe.blurred .subscribe-title {
  color: #ffffff;
}

.subscribe.blurred .subscribe-description {
  color: #ffffff;
}

.form-email-label {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.form-subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-submit-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
}

/* Стили основного подвала / Page footer styles */

.page-footer-container {
  display: flex;
  padding: 40px 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  min-height: 40px;
}

.footer-phone-link {
  margin-right: auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.htmlacademy-logo-img {
  display: block;
  width: 115px;
}

/* Стили блока фильтра / Filter block styles */

.filter {
  margin-bottom: 50px;
  padding: 70px;
  padding-top: 35px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.6);
  background-image: url("../images/blurry/mountain-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.filter-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.filter-navigation-link {
  color: #ffffff;
  text-decoration: none;
}

.filter-form {
  display: flex;
}

.filter-fieldset {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border-style: none;
}

.filter-fieldset-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 23px;
}

.filter-minmax-label {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3)
}

.filter-minmax-price {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.form-submit-button {
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}

.form-button-container {
  text-align: center;
}

.form-reset-button {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-image: none;
  background-color: transparent;
  text-transform: uppercase;
}

/* Стили блока каталога / Catalog block styles */

.catalog {
  padding: 0 70px;
  padding-bottom: 60px;
}

.catalog-header {
  display: flex;
  margin-bottom: 40px;
}

.catalog-hostel-lead {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-controls {
  margin-right: 70px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.catalog-list-layouts {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item-layouts {
  margin-right: 8px;
}

.catalog-item-layouts:last-child {
  margin-right: 0;
}

.catalog-layouts-button {
  display: block;
  padding: 17px 16px;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  text-decoration: none;
}

.catalog-view-grid {
  background-image: url("../images/view-layouts-icon/view-layouts-grid-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.catalog-view-slider {
  background-image: url("../images/view-layouts-icon/view-layouts-slider-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}


.catalog-view-list {
  background-image: url("../images/view-layouts-icon/view-layouts-list-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.active-layouts {
  border-color: #000000;
}

.catalog-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  box-shadow: 0 2px 0 -1px #e6e6e6;
}

.catalog-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog-list-grid .catalog-item {
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
}

.catalog-list-grid .catalog-img {
  display: block;
  margin-bottom: 16px;
}

.catalog-list-grid .catalog-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.catalog-list-grid .catalog-title-link {
  color: #000;
  text-decoration: none;
}

.catalog-list-grid .catalog-item-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px 20px;
}

.catalog-list-grid .catalog-price-description {
  grid-column: 1 / 2;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.catalog-list-grid .catalog-price-value {
  grid-column: -1 / -2;
  justify-self: end;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.catalog-list-grid .catalog-more-link {
  grid-column: 1 / 2;
  padding: 8px 26px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border-style: none;
  text-decoration: none;
}

.catalog-list-grid .catalog-add-favorite {
  grid-column: -1 / -2;
  padding: 8px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border-style: none;
}

.favorite-active {
  background-color: #7db54f;
}

.catalog-list-grid .catalog-item-rating {
  grid-column: -1 / -2;
  margin: 0;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.catalog-pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-active {
  color: #000000;
  background-color: #f2f2f2;
}
